$parent: quiz;

@include block($parent) {
  position: relative;

  @include element($parent, 'banner') {
    background-image: linear-gradient(156deg, #2444da 18%, #434bcc 77%);
    position: relative;
    padding: rem(15) rem(15) rem(25);

    @include breakpoint(t) {
      padding: rem(40) rem(75);
    }

    @include breakpoint(lg) {
      padding: rem(120) rem(30) rem(50);
    }

    @include breakpoint(xl) {
      padding: rem(120) rem(50) rem(50);
    }

    @include breakpoint(xxl) {
      @include flex(flex, flex-start, center, column);
      padding: rem(120) rem(80);
    }
  }

  @include element($parent, 'pagination') {
    margin-bottom: rem(10);

    @include breakpoint(t) {
      margin-bottom: rem(20);
    }

    @include breakpoint(lg) {
      margin-bottom: rem(35);
    }
  }

  @include element($parent, 'title') {
    @include fs(24, 1.21);
    font-family: $din;
    letter-spacing: 0.67px;
    color: $white;

    @include breakpoint(t) {
      @include fs(46, 1.22);
      letter-spacing: normal;
    }
  }

  @include element($parent, 'answers') {
    width: 100%;
  }

  @include element($parent, 'answer') {
    @include flex(flex, center);
    @include fs(16, 1.38);
    letter-spacing: 1px;
    color: $black;
    background-color: $gray;
    cursor: pointer;
    padding: rem(13) rem(15);
    border-radius: 4px;

    &:not(:last-of-type) {
      margin-bottom: rem(10);

      @include breakpoint(t) {
        margin-bottom: rem(25);
      }

      @include breakpoint(lg) {
        margin-bottom: rem(15);
      }
    }

    @include breakpoint(t) {
      padding: rem(20) rem(35);
    }

    @include breakpoint(lg) {
      transition: background-color $ease;
      min-height: rem(86);
      padding: rem(10) rem(30);

      &:hover {
        background-color: $orange-light;
      }
    }

    @include breakpoint(xl) {
      min-height: rem(69);
    }
  }
}
