*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;

  @include breakpoint('2k') {
    font-size: 22px;
  }

  @include breakpoint('4k') {
    font-size: 26px;
  }
}

h1 {
  @include fs(36, 1);
  font-family: $din;
  letter-spacing: 0.6px;
  color: $blue;
  margin: 0 0 rem(25);

  @include breakpoint(t) {
    @include fs(60);
    letter-spacing: 1px;
  }
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

svg {
  pointer-events: none;
  display: block;
  transition: fill $ease, stroke $ease;
}
