$parent: content-inner;

@include block($parent) {
  @include breakpoint(lg) {
    @include flexWidth(50%);
  }

  @include element($parent, 'main') {
    @include breakpoint(lg) {
      @include flex(flex, flex-start, center, column);
      flex: 1 0 auto;
    }
  }

  @include element($parent, 'text') {
    @include fs(16, 1.25);
    letter-spacing: 0.8px;
    margin-bottom: rem(15);

    @include breakpoint(t) {
      margin-bottom: rem(20);
    }

    @include breakpoint(lg) {
      margin-bottom: rem(30);
    }
  }

  @include modifier($parent, 'main') {
    padding: rem(10) rem(15) rem(20);

    @include breakpoint(t) {
      padding: rem(15) rem(75) rem(30);
    }

    @include breakpoint(lg) {
      @include flex(flex, false, center, column);
      padding: rem(20) rem(30);
    }

    @include breakpoint(xl) {
      padding: rem(25) rem(73) rem(25) rem(60);
    }

    @include breakpoint(xxl) {
      padding: rem(40) rem(80) rem(40) rem(75);
    }
  }

  @include modifier($parent, 'quiz') {
    padding: rem(25) rem(15) rem(60);

    @include breakpoint(t) {
      padding: rem(40);
    }

    @include breakpoint(lg) {
      padding: rem(20) rem(30);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint(xl) {
      padding: rem(25) rem(50);
    }

    @include breakpoint(xxl) {
      padding: rem(40) rem(80) rem(40) rem(75);
    }
  }
}