$parent: header;

@include block($parent) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(5);

  @include breakpoint(t) {
    margin-bottom: rem(20);
  }

  @include element($parent, 'logos') {
    display: flex;
    align-items: center;
  }

  @include element($parent, 'logo') {
    width: rem(35);
    height: rem(35);
    display: inline-block;

    svg {
      height: 100%;
      width: 100%;
    }

    &:not(:last-of-type) {
      margin-right: rem(14);
    }

    @include modifier($parent, 'pik') {
      height: rem(22);
      width: rem(23);
    }
  }

  @include element($parent, 'share') {
    display: none;

    @include breakpoint(lg) {
      display: flex;
    }
  }

  @include modifier($parent, 'no-share') {
    @include element($parent, 'share') {
      display: none;
    }
  }
}
