$parent: content;

@include block($parent) {
  @include flex(flex, $direction: column);
  position: relative;
  min-height: calc(100vh - 35px);

  @include breakpoint(lg) {
    flex-direction: row;
    min-height: 100vh;
  }
}
