$parent: pagination;

@include block($parent) {
  @include flex(flex, center);

  @include breakpoint(lg) {
    display: block;
  }

  @include element($parent, 'nav') {
    @include fs(16);
    letter-spacing: 1.23px;
    color: $white;
    font-family: $din;
    margin-right: rem(15);

    @include breakpoint(t) {
      @include fs(26);
      letter-spacing: 2px;
      margin-right: rem(40);
    }

    @include breakpoint(lg) {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  @include element($parent, 'dots') {
    @include flex(flex, center);
  }

  @include element($parent, 'dot') {
    height: rem(10);
    width: rem(10);
    border-radius: 50%;
    background-color: $white;
    opacity: 0.3;
    transition: opacity $ease;

    @include breakpoint(t) {
      height: rem(12);
      width: rem(12);
    }

    &:not(:last-of-type) {
      margin-right: rem(10);

      @include breakpoint(t) {
        margin-right: rem(12);
      }
    }

    @include modifier($parent, 'active') {
      opacity: 1;
    }
  }
}