// FONTS
@font-face {
  font-family: 'Roboto Condensed';
  src: url('~@/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
